<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.francis.platform.mapper.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.francis.platform.entity.Device">
    <!--@mbg.generated-->
    <!--@Table t_device-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_ip" jdbcType="VARCHAR" property="deviceIp" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="device_type" jdbcType="INTEGER" property="deviceType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_id, device_name, device_ip, account, `password`, port, device_type, `status`, 
    is_deleted, create_time, update_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_device
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="device_ip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceIp,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="account = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.account,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="port = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.port,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="device_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where device_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.deviceId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_device
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="device_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deviceName != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="device_ip = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deviceIp != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceIp,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="account = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.account != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.account,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`password` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.password != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.password,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="port = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.port != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.port,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="device_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.deviceType != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.deviceType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.status,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when device_id = #{item.deviceId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where device_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.deviceId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into t_device
    (device_id, device_name, device_ip, account, `password`, port, device_type, `status`, 
      is_deleted, create_time, update_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.deviceId,jdbcType=BIGINT}, #{item.deviceName,jdbcType=VARCHAR}, #{item.deviceIp,jdbcType=VARCHAR}, 
        #{item.account,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.port,jdbcType=VARCHAR}, 
        #{item.deviceType,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.isDeleted,jdbcType=INTEGER}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.francis.platform.entity.Device">
    <!--@mbg.generated-->
    insert into t_device
    (device_id, device_name, device_ip, account, `password`, port, device_type, `status`, 
      is_deleted, create_time, update_time)
    values
    (#{deviceId,jdbcType=BIGINT}, #{deviceName,jdbcType=VARCHAR}, #{deviceIp,jdbcType=VARCHAR}, 
      #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{deviceType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    on duplicate key update 
    device_id = #{deviceId,jdbcType=BIGINT}, 
    device_name = #{deviceName,jdbcType=VARCHAR}, 
    device_ip = #{deviceIp,jdbcType=VARCHAR}, 
    account = #{account,jdbcType=VARCHAR}, 
    `password` = #{password,jdbcType=VARCHAR}, 
    port = #{port,jdbcType=VARCHAR}, 
    device_type = #{deviceType,jdbcType=INTEGER}, 
    `status` = #{status,jdbcType=INTEGER}, 
    is_deleted = #{isDeleted,jdbcType=INTEGER}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.francis.platform.entity.Device">
    <!--@mbg.generated-->
    insert into t_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="deviceIp != null">
        device_ip,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="deviceType != null">
        device_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceId != null">
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null">
        #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceIp != null">
        device_ip = #{deviceIp,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null">
        device_type = #{deviceType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>