<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.francis.platform.mapper.PersonDeptMapper">
  <resultMap id="BaseResultMap" type="com.francis.platform.entity.PersonDept">
    <!--@mbg.generated-->
    <!--@Table t_person_dept-->
    <id column="person_dept_id" jdbcType="BIGINT" property="personDeptId" />
    <result column="person_dept_name" jdbcType="VARCHAR" property="personDeptName" />
    <result column="sort" jdbcType="VARCHAR" property="sort" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    person_dept_id, person_dept_name, sort, `enable`, is_deleted, create_time, update_time
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_person_dept
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="person_dept_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.personDeptName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.sort,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="`enable` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.enable,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where person_dept_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.personDeptId,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update t_person_dept
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="person_dept_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.personDeptName != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.personDeptName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="sort = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.sort != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.sort,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`enable` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.enable != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.enable,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="is_deleted = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.isDeleted != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.isDeleted,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.updateTime != null">
            when person_dept_id = #{item.personDeptId,jdbcType=BIGINT} then #{item.updateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where person_dept_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.personDeptId,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into t_person_dept
    (person_dept_id, person_dept_name, sort, `enable`, is_deleted, create_time, update_time
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.personDeptId,jdbcType=BIGINT}, #{item.personDeptName,jdbcType=VARCHAR}, #{item.sort,jdbcType=VARCHAR}, 
        #{item.enable,jdbcType=INTEGER}, #{item.isDeleted,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, 
        #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.francis.platform.entity.PersonDept">
    <!--@mbg.generated-->
    insert into t_person_dept
    (person_dept_id, person_dept_name, sort, `enable`, is_deleted, create_time, update_time
      )
    values
    (#{personDeptId,jdbcType=BIGINT}, #{personDeptName,jdbcType=VARCHAR}, #{sort,jdbcType=VARCHAR}, 
      #{enable,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
    on duplicate key update 
    person_dept_id = #{personDeptId,jdbcType=BIGINT}, 
    person_dept_name = #{personDeptName,jdbcType=VARCHAR}, 
    sort = #{sort,jdbcType=VARCHAR}, 
    `enable` = #{enable,jdbcType=INTEGER}, 
    is_deleted = #{isDeleted,jdbcType=INTEGER}, 
    create_time = #{createTime,jdbcType=TIMESTAMP}, 
    update_time = #{updateTime,jdbcType=TIMESTAMP}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.francis.platform.entity.PersonDept">
    <!--@mbg.generated-->
    insert into t_person_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personDeptId != null">
        person_dept_id,
      </if>
      <if test="personDeptName != null">
        person_dept_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="enable != null">
        `enable`,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personDeptId != null">
        #{personDeptId,jdbcType=BIGINT},
      </if>
      <if test="personDeptName != null">
        #{personDeptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="personDeptId != null">
        person_dept_id = #{personDeptId,jdbcType=BIGINT},
      </if>
      <if test="personDeptName != null">
        person_dept_name = #{personDeptName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="enable != null">
        `enable` = #{enable,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>